backend/output
node_modules
backend/node_modules
frontend/node_modules
*.env
backend/data
backend/lib
backend/clusters
*.log
*.txt
backend/analyze_raw.py
backend/pathfinder-rust/target/
backend/pathfinder-rust/Cargo.lock
*.pyc
__pycache__
*.db-shm
*.db-wal
*.sqlite
*.u32
*.f32
backend/pathfinder-rust/cache
*.db
*cwd
.tectonic-cache/
.tools/
tmp-tectonic-test/
*stderr.txt
*stdout.txt
tools/
docs/databaseproject/simple-interface/bin
docs/databaseproject/simple-interface/Data
docs/databaseproject/simple-interface/obj
*.mmd
*.drawio
backend/plagiarism_checker.py.worktrees/
