__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

node_modules/
.next/
dist/
backend/target/
backend/recordings/
client-monogame/bin/
client-monogame/obj/

.DS_Store
docs/
instruction.md
client-monogame-tests/bin/
client-monogame-tests/obj/
client-monogame-tests/logs/
client-monogame-tests/reports/